

.suggestionsContainer {
  padding-left: 3%;
}

.suggestionsList {
  list-style-type: none;
  padding-left: 0;
}

.input {
  width: 100%;
  margin: 0;
  border: 1px solid lightgrey;
  border-radius: 4px;
  outline: none;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 2%;
}

.input:focus {
  border: 1px solid #2f9bf4;
}

.suggestion {
}
