.container {
}

.suggestionsList {
  list-style-type: none;
}

.input {
  width: 100%;
  margin: 0;
  border: 1px solid lightgrey;
  border-radius: 3px;
  outline: none;
  padding-top: 1.1%;
  padding-bottom: 1.1%;
  padding-left: 2%;
}

.input:focus {
  border: 1px solid #2f9bf4;
}

.suggestion {
}
