label {
  font-weight: bolder;
  display: inline-block;
}

.container {
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
}

.editBtnGroup {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.popoverBtn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.error input {
  border-color: red;
}

.processesContainer {
  margin-left: 5%;
}

.processContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.processRemoveBtn {
  padding-top: 30px;
  margin-left: 5%;
}

.process {
  width: 100%;
}
