label {
  font-weight: bolder;
  display: inline-block;
}

.container {
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
}

.editBtnGroup {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.popoverBtn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.error input {
  border-color: red;
}

.errorModalText {
  color: red;
}

.arrayContainer {
  margin-left: 5%;
}

.itemContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.itemRemoveBtn {
  padding-top: 30px;
  margin-left: 5%;
}

.item {
  width: 100%;
}
